<!-- model type: Northwind.Web.Models.ProductModel -->
<form action='@Url.ApiUrl("Products")' method="put" class="form-horizontal">
			<input id="Id" name="Id" type="hidden" data-bind="value: Id" />	
    <div class="control-group">
        <label class="control-label" for="Name">Name </label>
        <div class="controls">
			<input id="Name" name="Name" type="text" data-bind="value: Name" />
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Category">Category </label>
        <div class="controls">
			<input id="Category" name="Category" type="text" data-bind="value: Category" />
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Supplier">Supplier </label>
        <div class="controls">
			<input id="Supplier" name="Supplier" type="text" data-bind="value: Supplier" />
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="UnitPrice">Unit Price </label>
        <div class="controls">
			<input id="UnitPrice" name="UnitPrice" type="currency" data-bind="value: UnitPrice" />
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="UnitsInStock">Units in Stock </label>
        <div class="controls">
			<input id="UnitsInStock" name="UnitsInStock" type="number" data-bind="value: UnitsInStock" />
		</div>
    </div>
</form>
