<!-- model type: Northwind.Web.Models.ProductModel -->
<div class="row">
    <div class="span2"><strong>id </strong></div>
    <div class="span3" data-bind="text: Id"></div>
</div>
<div class="row">
    <div class="span2"><strong>Name </strong></div>
    <div class="span3" data-bind="text: Name"></div>
</div>
<div class="row">
    <div class="span2"><strong>Category </strong></div>
    <div class="span3" data-bind="text: Category"></div>
</div>
<div class="row">
    <div class="span2"><strong>Supplier </strong></div>
    <div class="span3" data-bind="text: Supplier"></div>
</div>
<div class="row">
    <div class="span2"><strong>Unit Price </strong></div>
    <div class="span3" data-bind="text: '$' + UnitPrice().toFixed(2)"></div>
</div>
<div class="row">
    <div class="span2"><strong>Units in Stock </strong></div>
    <div class="span3" data-bind="text: UnitsInStock"></div>
</div>
