<div id="editor" class="popover fade right in">
    <div class="arrow"></div>
    <div class="popover-inner">
        <button class="close" data-dismiss="popover">&times;</button>
        <h3 class="popover-title"></h3>
        <div class="popover-content">
        </div>
        <div class="popover-footer">
            <a href="#" class="btn" data-dismiss="popover">Close</a> 
            <a href="#" class="btn btn-primary">Submit</a>
        </div>
    </div>
</div>
