<table class="table table-striped table-bordered">
    <caption>Orders</caption>
    <thead>
        <tr>
            <th>Id</th>
            <th>Customer</th>
            <th>Employee</th>
            <th>Date</th>
            <th>Required Date</th>
            <th>Shipped</th>
            <th>Shipped Date</th>
        </tr>
    </thead>
</table>
