<!-- model type: Northwind.Web.Models.EmployeeDetailModel -->
<form action='@Url.ApiUrl("Employees")' method="put" class="form-horizontal">
			<input id="Id" name="Id" type="hidden" data-bind="value: Id" />	
    <div class="control-group">
        <label class="control-label" for="FirstName">First Name </label>
        <div class="controls">
			<input id="FirstName" name="FirstName" type="text" data-bind="value: FirstName" />
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="LastName">Last Name </label>
        <div class="controls">
			<input id="LastName" name="LastName" type="text" data-bind="value: LastName" />
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Title">Title </label>
        <div class="controls">
			<input id="Title" name="Title" type="text" data-bind="value: Title" />
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="HireDate">Hire Date </label>
        <div class="controls">
			<input id="HireDate" name="HireDate" type="date" data-bind="value: HireDate" />
		</div>
    </div>
			<input id="Orders" name="Orders" type="hidden" data-bind="value: Orders" />	
    <div class="control-group">
        <label class="control-label" for="Address">Address </label>
        <div class="controls">
			<input id="Address" name="Address" type="text" data-bind="value: Address" />
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="City">City </label>
        <div class="controls">
			<input id="City" name="City" type="text" data-bind="value: City" />
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Region">Region </label>
        <div class="controls">
			<input id="Region" name="Region" type="text" data-bind="value: Region" />
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="PostalCode">Postal Code </label>
        <div class="controls">
			<input id="PostalCode" name="PostalCode" type="text" data-bind="value: PostalCode" />
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Country">Country </label>
        <div class="controls">
			<input id="Country" name="Country" type="text" data-bind="value: Country" />
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="HomePhone">Home Phone </label>
        <div class="controls">
			<input id="HomePhone" name="HomePhone" type="tel" data-bind="value: HomePhone" />
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Extension">Extension </label>
        <div class="controls">
			<input id="Extension" name="Extension" type="number" data-bind="value: Extension" />
		</div>
    </div>
    <div class="control-group">
        <label class="control-label" for="Notes">Notes </label>
        <div class="controls">
			<textarea id="Notes" name="Notes" class="multilinetext" data-bind="text: Notes"></textarea>
		</div>
    </div>
			<input id="ManagerId" name="ManagerId" type="hidden" data-bind="value: ManagerId" />	
    <div class="control-group">
        <label class="control-label" for="Manager">Manager </label>
        <div class="controls">
			<input id="Manager" name="Manager" type="text" data-bind="value: Manager" />
		</div>
    </div>
</form>
