<!-- model type: Northwind.Web.Models.EmployeeDetailModel -->
<div class="row">
    <div class="span2"><strong>id </strong></div>
    <div class="span3" data-bind="text: Id"></div>
</div>
<div class="row">
    <div class="span2"><strong>First Name </strong></div>
    <div class="span3" data-bind="text: FirstName"></div>
</div>
<div class="row">
    <div class="span2"><strong>Last Name </strong></div>
    <div class="span3" data-bind="text: LastName"></div>
</div>
<div class="row">
    <div class="span2"><strong>Title </strong></div>
    <div class="span3" data-bind="text: Title"></div>
</div>
<div class="row">
    <div class="span2"><strong>Hire Date </strong></div>
    <div class="span3" data-bind="text: HireDate"></div>
</div>
<div class="row">
    <div class="span2"><strong>Orders </strong></div>
    <div class="span3" data-bind="text: Orders"></div>
</div>
<div class="row">
    <div class="span2"><strong>Address </strong></div>
    <div class="span3" data-bind="text: Address"></div>
</div>
<div class="row">
    <div class="span2"><strong>City </strong></div>
    <div class="span3" data-bind="text: City"></div>
</div>
<div class="row">
    <div class="span2"><strong>Region </strong></div>
    <div class="span3" data-bind="text: Region"></div>
</div>
<div class="row">
    <div class="span2"><strong>Postal Code </strong></div>
    <div class="span3" data-bind="text: PostalCode"></div>
</div>
<div class="row">
    <div class="span2"><strong>Country </strong></div>
    <div class="span3" data-bind="text: Country"></div>
</div>
<div class="row">
    <div class="span2"><strong>Home Phone </strong></div>
    <div class="span3" data-bind="text: HomePhone"></div>
</div>
<div class="row">
    <div class="span2"><strong>Extension </strong></div>
    <div class="span3" data-bind="text: Extension"></div>
</div>
<div class="row">
    <div class="span2"><strong>Notes </strong></div>
    <div class="span3" data-bind="text: Notes"></div>
</div>
<div class="row">
    <div class="span2"><strong>Manager id </strong></div>
    <div class="span3" data-bind="text: ManagerId"></div>
</div>
<div class="row">
    <div class="span2"><strong>Manager </strong></div>
    <div class="span3" data-bind="text: Manager"></div>
</div>
