<div class="row">
    <div class="span2"><strong>First Name</strong></div>
    <div class="span3" data-bind="text: FirstName"></div>
</div>
<div class="row">
    <div class="span2"><strong>Last Name</strong></div>
    <div class="span3" data-bind="text: LastName"></div>
</div>
<div class="row">
    <div class="span2"><strong>Title</strong></div>
    <div class="span3" data-bind="text: Title"></div>
</div>
<div class="row">
    <div class="span2"><strong>Hire Date</strong></div>
    <div class="span3" data-bind="text: HireDate"></div>
</div>
<div class="row">
    <div class="span2"><strong>Address</strong></div>
    <div class="span3" data-bind="text: Address"></div>
</div>
<div class="row">
    <div class="span2"><strong>City</strong></div>
    <div class="span3" data-bind="text: City"></div>
</div>
<div class="row">
    <div class="span2"><strong>Region</strong></div>
    <div class="span3" data-bind="text: Region"></div>
</div>
<div class="row">
    <div class="span2"><strong>PostalCode</strong></div>
    <div class="span3" data-bind="text: PostalCode"></div>
</div>
<div class="row">
    <div class="span2"><strong>Country</strong></div>
    <div class="span3" data-bind="text: Country"></div>
</div>
<div class="row">
    <div class="span2"><strong>HomePhone</strong></div>
    <div class="span3" data-bind="text: HomePhone"></div>
</div>
<div class="row">
    <div class="span2"><strong>Extension</strong></div>
    <div class="span3" data-bind="text: Extension"></div>
</div>
<div class="row">
    <div class="span2"><strong>Photo</strong></div>
    <div class="span3">
        <img data-bind="attr: { alt: FirstName() + ' ' + LastName(), src: 'data:image/jpeg;base64,' + Photo() }" />
    </div>
</div>
<div class="row">
    <div class="span2"><strong>Notes</strong></div>
    <div class="span3" data-bind="text: Notes"></div>
</div>
<div class="row">
    <div class="span2"><strong>Manager</strong></div>
    <div class="span3" data-bind="text: Manager"></div>
</div>
