<!-- model type: Northwind.Web.Models.CustomerDetailModel -->
<div class="row">
    <div class="span2"><strong>id </strong></div>
    <div class="span3" data-bind="text: Id"></div>
</div>
<div class="row">
    <div class="span2"><strong>Name </strong></div>
    <div class="span3" data-bind="text: Name"></div>
</div>
<div class="row">
    <div class="span2"><strong>Contact Name </strong></div>
    <div class="span3" data-bind="text: ContactName"></div>
</div>
<div class="row">
    <div class="span2"><strong>Contact Title </strong></div>
    <div class="span3" data-bind="text: ContactTitle"></div>
</div>
<div class="row">
    <div class="span2"><strong>Address </strong></div>
    <div class="span3" data-bind="text: Address"></div>
</div>
<div class="row">
    <div class="span2"><strong>City </strong></div>
    <div class="span3" data-bind="text: City"></div>
</div>
<div class="row">
    <div class="span2"><strong>Region </strong></div>
    <div class="span3" data-bind="text: Region"></div>
</div>
<div class="row">
    <div class="span2"><strong>Postal Code </strong></div>
    <div class="span3" data-bind="text: PostalCode"></div>
</div>
<div class="row">
    <div class="span2"><strong>Country </strong></div>
    <div class="span3" data-bind="text: Country"></div>
</div>
<div class="row">
    <div class="span2"><strong>Phone </strong></div>
    <div class="span3" data-bind="text: Phone"></div>
</div>
<div class="row">
    <div class="span2"><strong>fax </strong></div>
    <div class="span3" data-bind="text: Fax"></div>
</div>
